* {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(18, 18, 20);
  color: #fff;
}

.component-header {
  background-color: #8257e5;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  padding: 20px;
}

.title-login {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  width: 100%;
}

.title {
  display: flex;
  font-size: 25px;
  margin: auto 0px;
  margin-right: 150;
}

.svg-header {
  margin-left: 5px;
}

.total-field {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  margin: auto 0px;
}

.email {
  font-size: 15px;
  margin: auto 0px;
}

.form {
  display: flex;
  justify-content: center;
  margin-right: 50px;
  margin-top: 150px;
}

.login-content {
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: 0px auto;
}

.login-inputs {
  background-color: rgb(32, 32, 36);
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  max-width: 480px;
  padding: 64px;
  width: 100%;
}

.input-name {
  background: rgb(12, 12, 14);
  background-color: rgb(18, 18, 20);
  color: white;
  margin: 5px;
  font-size: 16px;
  border-radius: 5px;
  height: 100px;
  width: 100%;
  padding: 0px 16px 0px 42.4px;
}

.svg {
  color: #8257e5;
  font-size: 80px;
  margin: 0px auto;
}

.bnt {
  background: #8257e5;
  color: white;
  margin: 0px auto;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
  height: 100px;
  width: 50%;
  border: none;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
}

button:disabled {
  background-color: #10032f;
}

table {
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(10, 10, 10);
  margin: 10px auto;
  width: 98%;
}

form {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

label {
  font-size: 20px;
  font-family: monospace;
}

.inputs {
  border: none;
  background-color: rgb(126, 117, 117);
  text-align: center;
  width: 100px;
  border-radius: 5px;
  margin: 5px;
}

.bnt-wallet {
  background: #8257e5;
  color: white;
  border-radius: 5px;
  border: none;
  width: 150px;
  font-size: 17px;
}

tr {
  border-top: 2px solid black;
  display: flex;
  box-shadow: 0px 0px 10px 5px rgb(32, 32, 36);
  justify-content: space-around;
  padding: 10px ;
}